# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [90]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [91]:
city_weather = pd.read_csv('../WeatherPy/city_weather.csv')

In [92]:
city_weather

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,joensuu,62.60,29.76,37.00,88,75,6.93,FI,1602806136
1,1,ushuaia,-54.80,-68.30,39.20,86,75,28.86,AR,1602806137
2,2,yellowknife,62.46,-114.35,27.00,63,90,21.92,CA,1602806139
3,3,aykhal,66.00,111.50,15.80,85,90,6.71,RU,1602806140
4,4,albany,42.60,-73.97,68.00,75,8,3.00,US,1602805843
...,...,...,...,...,...,...,...,...,...,...
455,455,port blair,11.67,92.75,80.65,83,100,10.76,IN,1602806690
456,456,kortkeros,61.81,51.58,30.20,100,90,6.71,RU,1602806692
457,457,tarbagatay,51.48,107.36,26.60,92,90,3.89,RU,1602806693
458,458,ucluelet,48.93,-125.55,54.00,81,90,8.05,CA,1602806598
459,459,pekalongan,-6.89,109.68,64.00,79,94,4.16,ID,1602806695

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [93]:
# Plot heatmap
fig = gmaps.figure()

# Create heat layer
locations = city_weather[["Lat","Lng"]]
weight = city_weather["Humidity"]
#may have to add .astype(float)
heat_layer = gmaps.heatmap_layer(locations, weights=weight)
#may add other heatmap settings such as dissipating=False, max_intensity=10, point_radius=1

# Add layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [94]:
# Drop null - this is erroring out - perhaps as there are no null values??
# print(len(city_weather))
# city_weather.dropna(inplace=true)
# print(len(city_weahter))
# Drop based on weather criteria
filter_criteria = ((city_weather["Max Temp"]>75) &
            (city_weather["Max Temp"]<=89) &
            (city_weather["Humidity"]<85) &
            (city_weather["Wind Speed"]<13) &
            (city_weather["Cloudiness"]<=40))

vac_cities = city_weather[filter_criteria]
vac_cities
#~before filter would reverse this and say keep everything except essentially.

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
26,26,brandon,27.94,-82.29,84.00,78,1,2.46,US,1602806167
54,54,san quintin,30.48,-115.95,80.74,39,0,9.42,MX,1602806200
62,62,pacific grove,36.62,-121.92,87.80,26,1,3.36,US,1602805914
69,69,faanui,-16.48,-151.75,79.90,76,38,10.02,PF,1602806218
74,74,salalah,17.02,54.09,77.00,73,40,5.82,OM,1602806224
81,81,quixada,-4.97,-39.02,76.30,81,34,9.53,BR,1602806232
84,84,bilma,18.69,12.92,81.95,18,0,0.92,NE,1602806235
93,93,mitsamiouli,-11.38,43.28,77.32,75,37,2.19,KM,1602806246
96,96,teseney,15.11,36.66,82.36,36,0,5.91,ER,1602806249
118,118,tindwari,25.62,80.53,79.59,68,0,5.35,IN,1602806275
119,119,saint george,37.10,-113.58,82.99,14,1,6.93,US,1602806266
137,137,lompoc,34.64,-120.46,82.40,37,1,10.29,US,1602806297
139,139,port macquarie,-31.43,152.92,86.00,32,30,1.99,AU,1602806299
142,142,atar,20.52,-13.05,88.97,23,27,7.61,MR,1602806303
157,157,kieta,-6.22,155.63,84.45,68,40,3.71,PG,1602806320
158,158,jacareacanga,-6.22,-57.75,79.56,64,28,3.29,BR,1602806322
160,160,tremedal,-14.98,-41.41,76.73,42,0,3.91,BR,1602806324
163,163,san cristobal,7.77,-72.22,86.00,58,40,5.82,VE,1602806307
193,193,hervey bay,-25.30,152.85,80.01,53,40,10.29,AU,1602806204
205,205,naze,28.37,129.48,77.00,78,20,8.05,JP,1602806377
209,209,buala,-8.14,159.59,85.46,65,34,3.29,SB,1602806381
214,214,tecoanapa,16.52,-98.75,83.21,80,39,7.36,MX,1602806388
219,219,general roca,-39.03,-67.58,80.60,39,0,2.24,AR,1602806394
220,220,kupang,-10.17,123.58,84.20,74,20,9.17,ID,1602806395
243,243,araguacu,-12.93,-49.83,81.03,48,38,2.98,BR,1602806432
246,246,cayenne,4.93,-52.33,80.60,78,2,5.82,GF,1602806437
249,249,cockburn town,21.46,-71.14,82.40,78,40,11.41,TC,1602806153
269,269,ballina,-28.87,153.57,78.01,50,0,6.93,AU,1602806467
270,270,sao filipe,14.90,-24.50,81.27,78,36,7.65,CV,1602806468
288,288,kununurra,-15.77,128.73,84.20,74,0,6.93,AU,1602806490
302,302,port keats,-14.25,129.55,87.01,61,5,8.50,AU,1602806507
306,306,tessalit,20.20,1.01,86.63,14,0,5.55,ML,1602806513
320,320,kidal,18.44,1.41,86.07,15,0,4.32,ML,1602806530
326,326,amapa,1.00,-52.00,78.04,68,30,4.25,BR,1602806537
327,327,barra,-11.09,-43.14,81.86,30,1,5.64,BR,1602806538
336,336,touros,-5.20,-35.46,77.00,83,20,6.93,BR,1602806334
340,340,gizo,-8.10,156.84,83.53,69,20,4.25,SB,1602806554
341,341,abu dhabi,24.47,54.37,78.80,41,0,3.36,AE,1602806507
362,362,alexandria,31.22,29.96,75.20,64,0,4.70,EG,1602806434
398,398,les cayes,18.20,-73.75,79.61,78,27,2.28,HT,1602806623
401,401,jamame,0.07,42.75,77.27,79,2,10.07,SO,1602806627
407,407,dentsville,34.06,-80.96,78.80,69,20,3.18,US,1602806634
416,416,tibiri,13.56,7.05,87.01,31,32,4.92,NE,1602806644
422,422,kutum,14.20,24.67,76.64,19,0,9.22,SD,1602806651
425,425,khipro,25.83,69.38,80.91,16,0,8.23,PK,1602806655
434,434,rivadavia,-33.19,-68.46,78.80,31,2,9.17,AR,1602806369
435,435,itupiranga,-5.13,-49.33,80.60,83,20,2.24,BR,1602806667

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [95]:
hotel_df = vac_cities.reindex(columns = vac_cities.columns.tolist() + ['Hotel Name'])
hotel_df.head()
#interestingly looks like we are only looking for the first result to be stored.

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
26,26,brandon,27.94,-82.29,84.00,78,1,2.46,US,1602806167,NaN
54,54,san quintin,30.48,-115.95,80.74,39,0,9.42,MX,1602806200,NaN
62,62,pacific grove,36.62,-121.92,87.80,26,1,3.36,US,1602805914,NaN
69,69,faanui,-16.48,-151.75,79.90,76,38,10.02,PF,1602806218,NaN
74,74,salalah,17.02,54.09,77.00,73,40,5.82,OM,1602806224,NaN

In [102]:
# get lat,lng from DataFrame
for index, row in hotel_df.iterrows():
    try:      
        # API base URL and parameters
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        # add params dictionary to update iterations
        params = {
            "type":"lodging",
            "keyword":"hotel",
            "radius":5000,
            "key":g_key,
            }
    
        city = row["City"]
        lat = row["Lat"]
        lon = row["Lng"]
    
    
        params['location'] = f"{lat},{lon}"
        response = requests.get(base_url,  params=params).json()
        results = response['results']
        
        hotel_df.loc[index, "Hotel Name"] = response['results'][0]["name"]
        #print(f"A hotel in {city} was found.  Hotel Name: {results[0]["name"]}.")      
    except:
        print("Hotel not found ... skipping.")

Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.

In [80]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [70]:
# Add marker layer ontop of heat map

# Create a marker_layer using the poverty list to fill the info box
fig = gmaps.figure()
markers = gmaps.marker_layer(locations, hotel_info)
    
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))