# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

607

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [12]:
base_url = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"
#query_url = base_url q={city name}&appid={API key}‚Äù
query_url = base_url + "&appid=" + weather_api_key + "&q=" + city + "&units=" + units
#have tried both api_keys, api_key, weather_api_key
#removed from query for testing  + "&units=" + units
lats = []
lngs = []
temps = []
hums = []
winds = []
clouds = []
countries = []
dates = []
city_count = []
counter = 0

for city in cities[:50]:
    query_url = base_url + "&appid=" + weather_api_key + "&q=" + city + "&units=" + units
    print(city)
    #response = requests.get(query_url)
    #respons_json = response.json()
    response = requests.get(query_url)
    
    #city? 1 do I need to add a list for the city since there is a list already --there is no city in the response data?
    try:
        response = response.json()
    # 2 since I have city in my query_url does it need to be here too?
        lngs.append(response['coord']['lon'])
        lats.append(response['coord']['lat'])
        temps.append(response['main']['temp_max'])
        hums.append(response['main']['humidity'])
        winds.append(response['wind']['speed'])
        clouds.append(response['clouds']['all'])
        dates.append(response['dt'])
        countries.append(response['sys']['country'])
        city_count.append(city)
        counter = counter +1
        print(f"{counter} || {city}")
        time.sleep(1)
    except:
        print("city not found")

amontada
1 || amontada
barrow
2 || barrow
tautira
3 || tautira
qaanaaq
4 || qaanaaq
muscat
5 || muscat
cabo san lucas
6 || cabo san lucas
atuona
7 || atuona
tuktoyaktuk
8 || tuktoyaktuk
punta arenas
9 || punta arenas
vaini
10 || vaini
bonavista
11 || bonavista
ushuaia
12 || ushuaia
toliary
city not found
hobart
13 || hobart
tandalti
14 || tandalti
kavieng
15 || kavieng
labuhan
16 || labuhan
arraial do cabo
17 || arraial do cabo
nishihara
18 || nishihara
nizhneyansk
city not found
carnarvon
19 || carnarvon
togur
20 || togur
dunboyne
21 || dunboyne
pacific grove
22 || pacific grove
thompson
23 || thompson
mar del plata
24 || mar del plata
ribeira grande
25 || ribeira grande
cherskiy
26 || cherskiy
rikitea
27 || rikitea
pangody
28 || pangody
ontario
29 || ontario
usogorsk
30 || usogorsk
kapaa
31 || kapaa
hamilton
32 || hamilton
ambilobe
33 || ambilobe
ilulissat
34 || ilulissat
port hardy
35 || port hardy
mayumba
36 || mayumba
saint-georges
37 || saint-georges
sulina
38 || sulina
lagoa
39 || lagoa
fairbanks
40 || fairbanks
hilo
41 || hilo
mahebourg
42 || mahebourg
acari
43 || acari
vostok
44 || vostok
cheuskiny
city not found
albany
45 || albany
longyearbyen
46 || longyearbyen
zeya
47 || zeya

In [ ]:
#Add to response the printing of calls
#Above says want city number and city name but example sowhs processing record 1 of set 1 | city name
#for x in range(len(indices)):
#could we simply use the counter

#print(f"Processing Record 'counter'| 'city')
      #within above If statement

In [13]:
print(len(lngs))
print(len(lats))
print(len(temps))
print(len(hums))
print(len(winds))
print(len(clouds))
print(len(dates))
print(len(countries))
print(len(city_count))

47
47
47
47
47
47
47
47
47

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [15]:
weather_dict = {
     "City": city_count,
     "Lat": lats,
     "Lng": lngs,
     "Max Temp": temps,
     "Humidity": hums,
     "Cloudiness": clouds,
     "Wind Speed": winds,
     "Country": countries,
     "Date": dates
}

city_data = pd.DataFrame(data = weather_dict)
city_data.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,amontada,-3.36,-39.83,96.4,28,0,9.10,BR,1602599117
1,barrow,71.29,-156.79,26.6,53,90,12.75,US,1602599060
2,tautira,-17.73,-149.15,73.4,64,20,2.24,PF,1602599119
3,qaanaaq,77.48,-69.36,22.8,83,0,7.31,GL,1602599120
4,muscat,23.61,58.59,86.0,35,0,2.24,OM,1602598888

In [16]:
#Save as CSV so do not have to keep running
city_data.to_csv("city_data.csv")

In [ ]:
#view current path for the csv
#!pwd

In [19]:
#something like this
#I think they want us to use .describe
#city_stats = city_data.groupby('City')
#or city_stats = city_data.groupby('cities_postextract')
city_data.describe()

#https://www.geeksforgeeks.org/python-pandas-dataframe-describe-method/

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
count,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,4.700000e+01
mean,22.054468,-25.530851,59.611702,71.170213,52.914894,10.170213,1.602599e+09
std,38.167905,100.367994,21.690083,18.069093,36.232240,7.534026,6.925250e+01
min,-54.800000,-175.200000,21.200000,20.000000,0.000000,0.960000,1.602599e+09
25%,-11.500000,-113.780000,42.800000,65.500000,20.000000,4.420000,1.602599e+09
50%,26.180000,-51.100000,69.040000,75.000000,62.000000,9.100000,1.602599e+09
75%,53.575000,53.375000,77.000000,82.500000,90.000000,13.760000,1.602599e+09
max,78.220000,161.300000,97.930000,98.000000,100.000000,36.910000,1.602599e+09

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [22]:
#  Get the indices of cities that have humidity over 100%.
#something like this

max_humidity = city_data[city_data["Humidity"] > 100].index
max_humidity

Int64Index([], dtype='int64')

In [24]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".
clean_city_data = city_data.drop(max_humidity, inplace=False)
clean_city_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,amontada,-3.36,-39.83,96.40,28,0,9.10,BR,1602599117
1,barrow,71.29,-156.79,26.60,53,90,12.75,US,1602599060
2,tautira,-17.73,-149.15,73.40,64,20,2.24,PF,1602599119
3,qaanaaq,77.48,-69.36,22.80,83,0,7.31,GL,1602599120
4,muscat,23.61,58.59,86.00,35,0,2.24,OM,1602598888
5,cabo san lucas,22.89,-109.91,71.60,78,90,4.70,MX,1602599008
6,atuona,-9.80,-139.03,77.56,75,21,17.85,PF,1602599124
7,tuktoyaktuk,69.45,-133.04,21.20,85,75,11.41,CA,1602599125
8,punta arenas,-53.15,-70.92,46.40,70,75,25.28,CL,1602599036
9,vaini,-21.20,-175.20,71.60,73,75,10.29,TO,1602599127
10,bonavista,48.65,-53.11,48.00,72,28,5.99,CA,1602599128
11,ushuaia,-54.80,-68.30,48.20,29,40,14.99,AR,1602599009
12,hobart,-42.88,147.33,44.60,81,75,1.12,AU,1602599009
13,tandalti,13.02,31.87,97.93,20,79,0.96,SD,1602599132
14,kavieng,-2.57,150.80,82.42,80,100,10.94,PG,1602599133
15,labuhan,-6.88,112.21,83.08,71,53,8.88,ID,1602599135
16,arraial do cabo,-22.97,-42.03,82.40,61,7,23.04,BR,1602599038
17,nishihara,26.18,127.76,77.00,78,20,5.82,JP,1602599137
18,carnarvon,-24.87,113.63,69.80,88,0,13.87,AU,1602599010
19,togur,58.36,82.83,36.39,95,94,1.14,RU,1602599139
20,dunboyne,53.40,-6.47,52.00,76,40,12.75,IE,1602599140
21,pacific grove,36.62,-121.92,55.40,66,1,4.14,US,1602599056
22,thompson,55.74,-97.86,33.80,98,90,18.34,CA,1602599143
23,mar del plata,-38.00,-57.56,64.40,68,0,6.93,AR,1602598982
24,ribeira grande,38.52,-28.70,71.60,73,40,24.16,PT,1602599011
25,cherskiy,68.75,161.30,28.18,87,100,12.93,RU,1602599146
26,rikitea,-23.12,-134.97,72.61,74,0,15.19,PF,1602599148
27,pangody,65.85,74.49,39.45,87,100,18.52,RU,1602599149
28,ontario,34.06,-117.65,73.40,34,1,1.88,US,1602599059
29,usogorsk,63.41,48.69,47.57,88,100,8.19,RU,1602599151
30,kapaa,22.08,-159.32,80.60,78,40,11.41,US,1602599152
31,hamilton,39.18,-84.53,55.99,81,1,1.70,US,1602598963
32,ambilobe,-13.20,49.05,82.62,60,75,3.40,MG,1602599155
33,ilulissat,69.22,-51.10,41.00,65,75,4.70,GL,1602599156
34,port hardy,50.70,-127.42,44.60,87,90,36.91,CA,1602599157
35,mayumba,-3.43,10.66,77.83,79,43,11.54,GA,1602599158
36,saint-georges,12.06,-61.75,87.80,70,20,13.87,GD,1602599159
37,sulina,45.16,29.65,70.00,82,41,17.65,RO,1602599161
38,lagoa,39.05,-27.98,69.04,73,95,13.65,PT,1602599162
39,fairbanks,64.84,-147.72,26.60,53,90,3.60,US,1602599139
40,hilo,19.73,-155.09,73.40,78,90,11.41,US,1602599013
41,mahebourg,-20.41,57.70,77.00,78,40,11.41,MU,1602599165
42,acari,-15.43,-74.62,72.32,53,67,6.22,PE,1602599166
43,vostok,46.49,135.88,29.93,92,62,5.88,RU,1602599168
44,albany,42.60,-73.97,52.00,90,100,2.80,US,1602599014
45,longyearbyen,78.22,15.64,33.80,69,75,1.12,SJ,1602599170
46,zeya,53.75,127.27,25.43,87,69,7.78,RU,1602599171

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

In [ ]:
# Scatter plot of latitude vs max tempurature
plt.scatter(clean_city_data["Lat"], weather_data["Max Temp"], marker="o")

# Graph properties
plt.title("City Latitude vs Max Temperature (10/13/2020)")
plt.ylabel("Max Temperature (F)")
plt.xlabel("Latitude")
plt.grid(True)

# Save figure
plt.savefig("Lat_vs_Temp.png")

# Display
plt.show()

## Latitude vs. Humidity Plot

In [ ]:
# Scatter plot of latitude vs humidity
plt.scatter(clean_city_data["Lat"], weather_data["Humidity"], marker="o")

# Graph properties
plt.title("City Latitude vs Humidity (10/13/2020)")
plt.ylabel("Humidity (%)")
plt.xlabel("Latitude")
plt.grid(True)

# Save figure
plt.savefig("Lat_vs_Humidity.png")

# Display
plt.show()

## Latitude vs. Cloudiness Plot

In [ ]:
# Scatter plot of latitude vs cloudiness
plt.scatter(clean_city_data["Lat"], weather_data["Cloudiness"], marker="o")

# Graph properties
plt.title("City Latitude vs Cloudiness (10/13/2020)")
plt.ylabel("Cloudiness (%)")
plt.xlabel("Latitude")
plt.grid(True)

# Save figure
plt.savefig("Lat_vs_Clouds.png")

# Display
plt.show()

## Latitude vs. Wind Speed Plot

In [ ]:
# Scatter plot of latitude vs cloudiness
plt.scatter(clean_city_data["Lat"], weather_data["Wind Speed"], marker="o")

# Graph properties
plt.title("City Latitude vs Wind Speed (10/13/2020)")
plt.ylabel("Wind Speed (mph)")
plt.xlabel("Latitude")
plt.grid(True)

# Save figure
plt.savefig("Lat_vs_Wind.png")

# Display
plt.show()

## Linear Regression

In [ ]:
# Scatter plot of latitude vs max tempurature
plt.scatter(clean_city_data["Lat"], weather_data["Max Temp"], marker="o")

# Graph properties
plt.title("City Latitude vs Max Temperature (10/13/2020)")
plt.ylabel("Max Temperature (F)")
plt.xlabel("Latitude")
plt.grid(True)

# Perform a linear regression on temperature vs. latitude
(slope, intercept, rvalue, pvalue, stderr) = stats.linregress(x_values, y_values)

# Get regression values
regress_values = x_values * slope + intercept
print(regress_values)

# Create line equation string
line_eq = "y = " + str(round(slope,2)) + "x +" + str(round(intercept,2))

print(line_eq)

# Save figure
plt.savefig("Lat_vs_Temp.png")

# Display
plt.show()

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

In [ ]:
#create NH dataframe
northern_df = clean_city_data.loc[clean_city_data["lat"]>=0]
# Create Plot
plt.scatter(x_values,y_values)
plt.plot(x_values,regress_values,"r-")

# Label plot and annotate the line equation
plt.xlabel('Latitude')
plt.ylabel('Temperature')
plt.ylim(0, 80)
plt.annotate(line_eq,(20,15),fontsize=15,color="red")

# Print r value
print(f"The r-value is: {rvalue**2}")

# Save figure to file and print
plt.savefig("../my_images/linear_regression.png")
plt.show()

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

In [ ]:
plt.ylim(-50, 0)

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

In [ ]:
plt.ylim(0, 80)

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression